<% provide(:title, "Edit Blog") %>

<div class="page-header">
  <h2>Edit Blog</h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= form_for @blog do |f| %>
      <%= render 'shared/form_errors', object: f.object %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>