<% provide(:title, "All Topics") %>
	
<div class="page-header">
  <h2>All Topics</h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="tips">
		<div><%= render @topics %></div> 
  </ul>
  </div>
</div>