<p class="help-block">
  <strong>Add up to five pictures of your creation.</strong>
    The first picture will be used as a creation thumbnail. Choose the high quality pictures, we do all the resizing for you.
  </p>


<p class="help-block">
  <small>If you're having problems adding your pictures, please email us at <a href="mailto:info@hardtophounds.com">info@hardtophounds.com</a></small>.
</p>

<div class="form-group">
	
</div>


<div class="form-group">
  <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Project Title' %>
</div>

<div class="form-group">
  <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Project Description' %>
</div>

<%= f.submit class: 'btn btn-success' %>