<% provide(:title, 'New Project') %>

<div class="ads-page">
	<div class="page">
		<div id="banner-premium-leaderboard">
    
		</div>
		<h1>Add New Project</h1>
	  <%= form_for @project do |f| %>
	    <%= render 'shared/form_errors', object: f.object %>
	  	<%= render 'form', f: f %>
	  <% end %>
	</div>
	<div class="side-banner-container-one">
		
	</div>
	<div class="side-banner-container-two">
		
	</div>
	<div class="page-side-hidden">
		
	</div>

<div class="bottom-banner-container">
	
</div>