/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Scada:400,700);

/* LAYOUT ELEMENTS 
-----------------------------------------------------*/

body {
  padding: 70px 0 30px 0;
  font-family: "Roboto Condensed", Arial, Verdana, sans-serif;
  font-size: 16.5px;
  line-height: 1.428571429;
  color: #555555;
}

#logo {
  margin-top: -16px;
  margin-bottom: -14px;
}

.navbar-nav > li > a.nav-btn {
  display: inline-block;
  background-color: lighten($brand-background, 30%);
  padding: 4px 11px;
  margin: 10px;
  border: solid 1px transparent;
  border-radius: 4px;
  &:hover {
    border: solid 1px lighten($brand-background, 40%);;
  }
}

/* Typography
-------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {

}

.page-header {
  h2 {
    font-family: 'Scada', sans-serif;
    font-weight: 700;
    color: $brand-primary;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Top Promo 
-------------------------------------------*/

.top-promo {
  font-size: 12px;
  font-weight: 300;
  height: 23px;
  line-height: 22px;
  overflow: hidden;
  padding: 0px;
  margin: 0;
  text-align: center;
  background: #444;
  border-bottom: 1px solid #333;
} 

.promo {
  color: white;
  text-decoration: none;
}


/* Post Banner
-------------------------------------------*/
.post-banner-container {
  margin-right: 0;
  margin-bottom: 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  clear: both;
}


/* Navbar 
----------------------------------------------*/
.navbar {
  font-weight: 600;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 10px;
  line-height: 20px;
  height: 50px;
  }

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 2px 10px 4px 10px;
}

.navbar .nav>li>a {
  padding-left: 7px;
  padding-right: 7px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 15px 10px 4px 10px;
}

.navbar > .container .navbar-brand, .navbar > .container- fluid .navbar-brand {
  margin-left: 10px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 60px;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  background: #E0E0E0;
}


/* Navbar Brand
----------------------------------------------*/
.Logo {
  color: #ffa0aa;
  font-size: 20px;
}

/* Footer
-----------------------------------------------*/
footer {
  font-size: 90%;
  margin-top: 20px;
  padding-top: 15px 0 15px 0;
  border-top: 2px solid $gray-light;
  color: $gray-light;
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }
      .row {
        margin-left: -10px;
        margin-right: -10px;
      }
        .site-disclaimer {
          color: #999;
          font-size: 85%;
        }
      a {
        &:hover { 
          color: #222;
        }
      }  
      small { 
        float: left; 
      }
    }


/* Devise
-----------------------------------------------------*/

ul.devise-links {
  font-size: $font-size-small;
  margin: 30px 0 0;
  padding: 0;
  clear: both;
  list-style: none;
  li {
    display: inline;
    &:after {
      content: " | ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

/* Forms
-----------------------------------------------------*/
.approaching-limit {
  color: red;
}


/* User Profile 
-----------------------------------------------------*/
.container {
  width: 1080px;
  padding: 0;
  position: relative;
}

.page {
  width: 770px;
  float: left;
  min-height: 300px;

}

.page-with-ads {
  width: 100%;
  position: relative;
}

    /* Profile Header
    -----------------------------------------------------*/

      .post-author {
        width: 100%;
        margin-bottom: -10px;
        padding: 0px 0px 7px 0px;
        border-bottom: 1px solid #d9d9d9;
      }
      .post-author-info {
          margin-left: 60px;
      }
      .post-author-name {
          font-family: "Roboto Condensed", Arial, Verdana, sans-serif;
          font-weight: 400;
          font-size: 125%;
          margin-bottom: 0;
      }
      .post-author-stats {
          color: white;
          color: #888;
          margin: -2px 0 0 0;
      }
      p {
          margin: 0 0 11.5px;
      }
/* Nav Pills
-----------------------------------------------------*/

.nav-pills {
  margin-bottom: 5px;
  padding-left: 0;
  list-style: none;
}

.nav-pills>li {
margin: 0 5px 5px 0;
}

.nav-pills>li {
float: left;
}

.post {
position: relative;
margin-bottom: 5px;
}

/* Post Banner Container
-----------------------------------------------------*/

.post-banner-container {
  margin-right: 0;
  margin-bottom: 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  clear: both;
}

/* Comment Box
-----------------------------------------------------*/

.new-comment {
  padding-top: 15px;
}

.comment-author {
  width: 15.2%;
  float: left;
  display: block;
}

.comment-author-picture, .reply-author-picture {
  margin-top: 4px;
}

.member-picture {
  width: 85px;
  height: 75px;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
}

.comment-body {
  margin-left: 16.5%;
}

.comment-body form {
  overflow: hidden;
}

.form-group {
  margin-bottom: 15px;
}

.btn-toolbar {
margin-left: -5px;
}

/* Side Bar
-----------------------------------------------------*/
.side-banner-members-container {
  width: 300px;
  float: right;
  margin-bottom: 2px;
}

.side-banner-container {
  width: 300px;
  float: right;
  clear: right;
}

.page-side {
  width: 300px;
  float: right;
  clear: right;
}

.page-side-box {
  padding: 8px 5px;
}

h2 {
  font-size: 24px;
  color: #9b7d5c;
}

.list-unstyled, .list-inline {
padding-left: 0;
list-style: none;
}

ul, ol {
margin-top: 0;
margin-bottom: 11.5px;
}